<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/koordinator.css" />
  <title>Koordinator Config</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <img src="/img/logo.png" alt="Logo Universitas Parahyangan" class="logo" />
      <div class="sidebar">
        <div id="role">Koordinator</div>
        <div class="profile-info">
          <div class="profile-pic"></div>
          <p class="email">koordinator@unpar.ac.id</p>
        </div>
        <a href="login" class="logout-button">Log out</a>
        <a href="profile" class="profile-button">Profile</a>
      </div>
    </div>
    <!-- Navigation Section -->
    <section>
      <!-- Content Section -->
      <h2>Atur Komponen Nilai</h2>
      <div class="container-config">
        <div class="section-config-name">
          <div class="koor-name">
            <h3 class="label">Penguji</h3>
            <div class="value">30%</div>
          </div>
          <div class="continer-config-inside">
            <div class="section-config">
              <div class="label">Tata tulis laporan</div>
              <input type="text" class="value" value="15%" />
              <button class="btn-delete">Delete</button>
            </div>
            <div class="section-config">
              <div class="label">Kelengkapan materi</div>
              <input type="text" class="value" value="15%" />
              <button class="btn-delete">Delete</button>
            </div>
            <div class="section-config">
              <div class="label">Pencapaian tujuan</div>
              <input type="text" class="value" value="15%" />
              <button class="btn-delete">Delete</button>
            </div>
          </div>
          <button class="btn-tambah" disabled>
            Tambah Komponen penilaian
          </button>
        </div>
        <div class="section-config-name">
          <div class="koor-name">
            <h3 class="label">Pembimbing</h3>
            <div class="value">30%</div>
          </div>
          <div class="continer-config-inside">
            <div class="section-config">
              <div class="label">Tata tulis laporan</div>
              <input type="text" class="value" value="15%" />
              <button class="btn-delete">Delete</button>
            </div>
            <div class="section-config">
              <div class="label">Kelengkapan materi</div>
              <input type="text" class="value" value="15%" />
              <button class="btn-delete">Delete</button>
            </div>
            <div class="section-config">
              <div class="label">Pencapaian tujuan</div>
              <input type="text" class="value" value="15%" />
              <button class="btn-delete">Delete</button>
            </div>
          </div>
          <button class="btn-tambah" disabled>
            Tambah Komponen penilaian
          </button>
        </div>
        <div class="section-config-name">
          <div class="koor-name">
            <h3 class="label">Koordinator TA</h3>
            <div class="value">30%</div>
          </div>
          <div class="continer-config-inside">
            <div class="section-config">
              <div class="label">Tata tulis laporan</div>
              <input type="text" class="value" value="15%" />
              <button class="btn-delete">Delete</button>
            </div>
            <div class="section-config">
              <div class="label">Kelengkapan materi</div>
              <input type="text" class="value" value="15%" />
              <button class="btn-delete">Delete</button>
            </div>
            <div class="section-config">
              <div class="label">Pencapaian tujuan</div>
              <input type="text" class="value" value="15%" />
              <button class="btn-delete">Delete</button>
            </div>
          </div>
          <button class="btn-tambah" disabled>
            Tambah Komponen penilaian
          </button>
        </div>

        <div class="action-buttons">
          <a href="/bobot-nilai" class="btn-back">Back</a>
          <button class="btn-tambah disabled" disabled>
            Ubah Komponen penilaian
          </button>
          <a href="/bobot-nilai" class="btn-save">SAVE</a>
        </div>
      </div>
    </section>
    <div class="modal-wrapper hidden">
      <div class="modal">
        <div class="modal-content">
          <h2>Confirm Deletion</h2>
          <div class="modal-buttons">
            <button class="btn-confirm">Confirm</button>
            <button class="btn-cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const modalWrapper = document.querySelector(".modal-wrapper");
    const btnCancel = document.querySelector(".btn-cancel");
    const btnConfirm = document.querySelector(".btn-confirm");
    const btnDelete = document.querySelectorAll(".btn-delete");

    function showModal() {
      modalWrapper.classList.remove("hidden");
    }

    function hideModal() {
      modalWrapper.classList.add("hidden");
    }

    btnCancel.addEventListener("click", hideModal);
    btnConfirm.addEventListener("click", hideModal);

    btnDelete.forEach((btn) => {
      btn.addEventListener("click", () => {
        showModal();
      });
    });
  </script>
</body>

</html>