<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    .<title>BAP</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div id="judulbap">
        <center><img src="img/headerBap.png" alt="" width="1050px" height="150px"></center>
    <header class="title" >
            <h3><center>Berita Acara</center> </h3> 
            <h3> <center>Sidang Skripsi</center></h3>   
            <h3><center>Semester: <input type="text" value=""></center></h3>
            <h4><center>Telah diselenggarakan review untuk mata kuliah AIF234001-03  Tugas Akhir 1 bagi:</center></h4>
    </div>
    
    <div id="bodybap">
        <br>
        <br>
    <p><strong>NPM:</strong> <input type="text" name="" id="">
                   <align="right"><strong >Nama:</strong> <input type="text" name="" id=""></align></p>
    <p><strong>Topik:</strong> <input type="text" name="" id=""></p>
<p><strong>dengan pembimbing dan penguji:</strong></p>
<!--kasih while loop utk masukin pembimbing dan penguji-->

<p><strong>Rekapitulasi nilai</strong> <input type="text" name="" id=""> <strong>yang diberikan oleh pembimbing, penguji, & koordinator skripsi:</strong></p>
</div>
 
<div id="tablebap">
    <table border="1px" solid black>
        <tr>
            <th>No.</th>
            <th>Pembimbing/Penguji</th>
            <th>Nilai</th>
            <th>Bobot</th>
            <th>Nilai Akhir</th>
        </tr>
        <!--input baris2 tabelnya-->
    </table>
    <p><strong>Ditetapkan di Bandung:</strong> <input type="text" name="" id=""></p>
</div>
<table border="1px" solid black>
    <tr>
        
        <th><input type="file" name="" id=""></th>
    </tr>
    <tr>
        <th>Koordinator Skripsi</th>
    </tr>
</table>
</body>
</html>