<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Login</title>
  </head>
  <body id="splash">
    <header class="login">
      <h1>PortalITA</h1>
      <h3>Login</h3>
    </header>
    <div class="container">
      <form action="/login" class="form login" method="POST">
        <div>
          <label for="email">Alamat Email</label>
          <input type="email" id="email" name="email" />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
        <span class="toggle shown">
            Masukkan username dan password yang benar
        </span>
      </form>
    </div>
  </body>
</html>
