<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Create</title>
</head>

<body>
    <div class="header">
        <img src="/img/logo.png" alt="logo unpar" />
        <div class="container profile">
            <form action="/profile" method="POST" class="profile detail small">
                <input type="email" value="<%= email %>" disabled />
                <div class="profile detail small role">
                    <label for="role">Your role :</label>
                    <input type="text" value="<%= role %>" disabled />
                </div>
                <div class="profile detail small role">
                    <button>Log out</button>
                    <input type="text" name="email" value="<%= email %>" hidden />
                    <input type="text" name="role" value="<%= role %>" hidden />
                    <input type="submit" value="Profile" />
                </div>
            </form>
        </div>
    </div>
    <div class="navigation create">
        <div>
            <h1 id="create">Buat TA Baru</h1>
            <form action="#" class="dropdown create">
                <label for="semester">Semester Akademik</label>
                <select name="semester" id="semester">
                    <option value="Ganjil 2024/2025">Ganjil 2024/2025</option>
                    <option value="Ganjil 2024/2025">Ganjil 2024/2025</option>
                    <option value="Ganjil 2024/2025">Ganjil 2024/2025</option>
                </select>
            </form>
        </div>
    </div>
    <section>
        <form action="/home" method="POST" class="container-simpan">
            <input type="submit" class="back">
            <input type="email" name="email" value="<%= email %>" hidden>
            <input type="text" name="role" value="<%= role %>" hidden>
            <img src="img/back.png" alt="" class="back">
        </form>
        <form action="#" class="form-create">
            <div class="left">
                <label for="name">Nama Mahasiswa :</label>
                <input type="text" name="name" id="name" />

                <label for="judul">Judul Skripsi :</label>
                <input type="text" name="judul" id="judul" />

                <label for="jenis">Jenis TA :</label>
                <input type="text" name="jenis" id="jenis" />

                <label for="tempat">Tempat :</label>
                <input type="text" name="tempat" id="tempat" />
            </div>
            <div class="right">
                <div class="right-row">
                    <label for="penguji-1">Penguji 1 :</label>
                    <input type="text" name="pengiji-1" id="pengiji-1" />
                </div>
                <div class="right-row">
                    <label for="penguji-2">Penguji 2 :</label>
                    <input type="text" name="pengiji-2" id="pengiji-2" />
                </div>
                <div class="right-row">
                    <label for="pembimbing-u">Pembimbing Utama :</label>
                    <input type="text" name="pembimbing-u" id="pembimbing-u" />
                </div>
                <div class="right-row">
                    <label for="pembimbing-p">Pembimbing Pendamping :</label>
                    <input type="text" name="pembimbing-p" id="pembimbing-p" />
                </div>
            </div>
            <div class="container-simpan">
                <input type="submit" value="Simpan Data" id="simpan-data" />
            </div>
        </form>
    </section>
</body>

</html>